@{
    ViewData["Title"] = "ثبت سفارش";
}
@section Style{

    <link href="~/Css/Order/Index.css" rel="stylesheet" />
}
<div id="cart" class="panel body-wrapper">
    <h1 class="panel__title">سبد خرید</h1>
    <div class="panel__content">
        <div class="order__summary">
            <p class="order-summary-text">مبلغ قابل پرداخت : 240,000 تومان</p>
            <a class="button" href="/Cart"><span class="button-text">سبد خرید</span></a>
        </div>
    </div>
</div>
