@{
    ViewData["Title"] = "جزئیات کالا";
}
@section Style{

    <link href="~/Css/Product/index.css" rel="stylesheet" />
}
<div class="product body-wrapper" id="product">
    <section class="product__header">
        <div class="product__gallery">
            <div class="product-gallery">
                <div class="product-gallery__photo-wrap">
                    <img src="~/Images/products/222.jpg" class="product-gallery__photo" alt="کرم دست" />

                </div>
            </div>
        </div>
        <div class="product__detail">
            <section class="product__titles">
                <div class="product__primary-title">سامسونگ گلکسی اس 8</div>
                <div class="product__secondary-title">Samsung Galaxy S8</div>
                <ul class="product-info">
                    <li class="product-info__item">گروه:<span class="product-info__value">موبایل</span></li>
                    <li class="product-info__item">برند:<span class="product-info__value">سامسونگ</span></li>
                </ul>
            </section>
            <form class="product-detail" action="/Cart/Index">
                @*<div class="product-detail__empty">کالای مورد نظر درحال حاضر موجود نمی باشد.</div>*@
                <span class="product-detail__title">لطفا کالای مورد نظر خود را انتخاب کنید:</span>
                <ul class="product-detail__items">
                    <li class="product-detail__item">
                        <label class="product-detail__label">
                            <input class="product-detail__input" type="radio" name="productitemsid" value="1" checked />
                            <span class="product-detail__text">رنگ: مشکی - گارانتی: مادایران</span>
                            <span class="product-detail__price">20,000 تومان</span>
                        </label>

                    </li>

                    <li class="product-detail__item">
                        <label class="product-detail__label">
                            <input class="product-detail__input" type="radio" name="productitemsid" value="2" />
                            <span class="product-detail__text">رنگ: آبی - گارانتی: مادایران</span>
                            <span class="product-detail__price">22,000 تومان</span>
                        </label>

                    </li>

                    <li class="product-detail__item">
                        <label class="product-detail__label">
                            <input class="product-detail__input" type="radio" name="productitemsid" value="3" />
                            <span class="product-detail__text">رنگ: مشکی - گارانتی: سام سرویس</span>
                            <span class="product-detail__price">25,000 تومان</span>
                        </label>

                    </li>

                    <li class="product-detail__item">
                        <label class="product-detail__label">
                            <input class="product-detail__input" type="radio" name="productitemsid" value="4" />
                            <span class="product-detail__text">رنگ: آبی - گارانتی: سام سرویس</span>
                            <span class="product-detail__price">27,000 تومان</span>
                        </label>

                    </li>
                </ul>

                <div class="product-detail-action">
                    <div class="product-detail__counts">
                        <span class="product-detail-action__text">تعداد:</span>
                        <input class="product-detail-action__count" type="number" name="count" />
                    </div>
                    <input type="submit" value="" id="product-detail-input" class="product-detail-action__input" />
                    <label class="product-detail-action__button button mdi mdi-cart-plus " for="product-detail-input" title="افزودن به سبد خرید"> <span class="button-text">افزودن به سبد خرید</span></label>


                </div>
            </form>
        </div>
    </section>
    <section class="product__summary">
        <div class="product-description">
            <span class="product-description__icon mdi mdi-information-outline mdi-36px"></span>
            <p class="product-description__text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                <br /> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.<br /> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
        </div>
        <div class="product-keypoint">
            <div class="product-keypoint__col">
                <h3 class="product-keypoint__title">نقاط مثبت</h3>
                <ul class="product-keypoint__list">
                    <li class="product-keypoint__item">انعطاف پذیری بالا</li>
                    <li class="product-keypoint__item">کیفیت تصویر</li>
                    <li class="product-keypoint__item">پردازنده قوی</li>
                </ul>
            </div>
            <div class="product-keypoint__col">
                <h3 class="product-keypoint__title">نقاط منفی</h3>
                <ul class="product-keypoint__list">
                    <li class="product-keypoint__item">جنس ضعیف</li>
                    <li class="product-keypoint__item">قیمت بالا</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="product-tab">
        <input type="radio" class="product-tab__radio" name="tab-radio" id="rd-tab-1" checked />
        <input type="radio" class="product-tab__radio" name="tab-radio" id="rd-tab-2"  />
        <div class="product-tab__header">
            <label class="product-tab__button" for="rd-tab-1" data-tab="1">مشخصات فنی</label>
            <label class="product-tab__button" for="rd-tab-2" data-tab="2">نظرات کاربران</label>
        </div>
        <div class="product-tab__content" data-tab="1">
            <div style="height:100px;background-color:cadetblue"></div>
        </div>
        <div class="product-tab__content" data-tab="2">
            <div style="height:100px;background-color:orange"></div>
        </div>
    </section>  

</div>