 @{ 
     ViewData["Title"] = "لیست کالا";
 }
@section Style{ 
    <link href="~/Product/List.css" rel="stylesheet" />
}
<form class="product-list body-wrapper" id="prodcutlist">
    <div class="product-list__side">
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">گروه کالا</div>
            <div class="product-list-side-section__content">
                <ul class="product-list-side-section-group">
                    <li class="product-list-side-section__item">
                        <a href="#" class="product-list-side-section-group__link">کالای دیجیتال</a>
                        <ul class="product-list-side-section-group">

                            <li class="product-list-side-section__item">
                                <a href="#" class="product-list-side-section-group__link">کالای دیجیتال</a>
                            </li>
                            <li class="product-list-side-section__item">
                                <a href="#" class="product-list-side-section-group__link">لوازم جانبی</a>
                            </li>
                            <li class="product-list-side-section__item">
                                <a href="#" class="product-list-side-section-group__link">ذخیره سازی</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </section>
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">قیمت</div>
            <div class="product-list-side-section__content"></div>
            <div class="product-list-price">از :<input type="number" name="fromprice" class="product-list-price__input" value="" /></div>
            <div class="product-list-price">تا :&nbsp;<input type="number" name="toprice" class="product-list-price__input" value="" /></div>
        </section>
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">برند</div>
            <div class="product-list-side-section__content">
                <div class="product-list-side-brands">
                <label class="product-list-side-brands__button">اپل<input class="product-list-side-brands__checkbx" type="checkbox" name="brands" value="1" /><span class="product-list-side-brands__bullet mdi mdi-check-circle mdi-18px" ></span></label> 
                <label class="product-list-side-brands__button">سامسونگ<input class="product-list-side-brands__checkbx" type="checkbox" name="brands" value="2" /><span class="product-list-side-brands__bullet mdi mdi-check-circle mdi-18px"></span></label> 
                </div>
            </div>

        </section>
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">مشخصات فنی</div>
            <div class="product-list-side-section__content">
                <ul class="product-list-side__spes">
                    <li class="product-list-side-spes__item">
                        <input type="checkbox" id="spes_check-1" class="product-list-side-spes-toggle-input" />
                        <div class="product-list__side-section-spes-header">حافظه داخلی <label for="spes_check-1" class="product-list-side-spes__toggle mdi mdi-plus"></label><label for="spes_check-1" class="product-list-side-spes__toggle mdi mdi-minus"></label></div>
                        <div class="product-list-side-spes__values">
                            <label class="product-list-side-spes__button">2 گیگابایت<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="1" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                            <label class="product-list-side-spes__button">4 گیگابایت<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="2" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                        </div>
                    </li>

                    <li class="product-list-side-spes__item">
                        <input type="checkbox" id="spes_check-2" class="product-list-side-spes-toggle-input" />
                        <div class="product-list__side-section-spes-header">دوربین <label for="spes_check-2" class="product-list-side-spes__toggle mdi mdi-plus"></label><label for="spes_check-2" class="product-list-side-spes__toggle mdi mdi-minus"></label></div>
                        <div class="product-list-side-spes__values">
                            <label class="product-list-side-spes__button">16 مگاپیکسل<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="1" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                            <label class="product-list-side-spes__button">32 مگاپیکسل<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="2" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                            <label class="product-list-side-spes__button">64 مگاپیکسل<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="3" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                        </div>
                    </li>

                    <li class="product-list-side-spes__item">
                        <input type="checkbox" id="spes_check-3" class="product-list-side-spes-toggle-input" />
                        <div class="product-list__side-section-spes-header">سیستم عامل <label for="spes_check-3" class="product-list-side-spes__toggle mdi mdi-plus"></label><label for="spes_check-3" class="product-list-side-spes__toggle mdi mdi-minus"></label></div>
                        <div class="product-list-side-spes__values">
                            <label class="product-list-side-spes__button">اندروید 8<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="1" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                            <label class="product-list-side-spes__button">9 اندروید <input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="2" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                            <label class="product-list-side-spes__button">اندروید 10<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="3" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                        </div>
                    </li>
                </ul>
                    
            </div>

        </section>
        <div class="product-list__actions">
            <label type="submit" class="button">
                <input type="submit"   class="product-list-actions__input" />
                <span   class="button-text">جستجو</span>
            </label>  
        </div>
    </div>

    <div class="product-list__content">
        <div class="product-list__header">
            <h1 class="product-list__title">گوشی سامسونگ</h1>
            <span class="product-list-keayword">
                <input class="product-list-keayword__input" placeholder="جستجو..." name="keyword" />
                <input type="submit" id="search-keyword" class="product-list-actions__input" />
                <label for="search-keyword" class="product-list-keayword__icon mdi mdi-magnify"></label>
            </span>
        </div>
        <div class="product-list-content-actions">
            <div class="product-list-content__info">
                <select class="product-list-content-actions__select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
                <span class="product-list-content__total">220 کالا</span>
            </div>
            <div class="product-list-content-actions-pager">
                <a class="product-list-pager__button">1</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button product-list-pager__button--current">8</a>
                <a class="product-list-pager__button">9</a>
                <a class="product-list-pager__button">10</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button">15</a>
            </div>
        </div>

        <ul class="products">
            @*<li class="products__empty">
                <span class="products__empty-title">هیچ موردی برای نمایش وجود ندارد.</span>
            </li>*@

            <li class="products__item">
                <div class="products__layout">
                    <div class="product__photo-wrap">
                        <a href="/Product/Index/1" class="product-photo__link"> <img src="/Images/products/344.jpg" alt="گوشی سامسونگ s8" class="product-photo__img" /></a>
                    </div>
                    <div class="products__title-wrap">
                        <a href="/Product/Index/1" class="products__primary-title">کفش نایک</a><br />
                        <a href="/Product/Index/1" class="products__secondary-title">Nike Shoes</a>
                    </div>
                    <div class="product-state">
                        <span class="product__price">220,000<span class="product__price-unit">تومان</span></span>
                        <a  href="/Product/Index/1" class="button mdi mdi-cart-plus icon1"></a>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__layout">
                    <div class="product__photo-wrap">
                        <a href="/Product/Index/2" class="product-photo__link"> <img src="/Images/products/222.jpg" alt="گوشی سامسونگ s8" class="product-photo__img" /></a>
                    </div>
                    <div class="products__title-wrap">
                        <a href="/Product/Index/2" class="products__primary-title">کرم schon</a><br />
                        <a href="/Product/Index/2" class="products__secondary-title">schon cream</a>
                    </div>
                    <div class="product-state">
                        <span class="product__price">80,000<span class="product__price-unit">تومان</span></span>
                        <a href="/Product/Index/2" class="button mdi mdi-cart-plus icon1"></a>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__layout">
                    <div class="product__photo-wrap">
                        <a href="/Product/Index/3" class="product-photo__link"> <img src="/Images/products/2554.jpg" alt="گوشی سامسونگ s8" class="product-photo__img" /></a>
                    </div>
                    <div class="products__title-wrap">
                        <a href="/Product/Index/3" class="products__primary-title">پتو مسافرتی</a><br />
                        <a  href="/Product/Index/3" class="products__secondary-title">blanket</a>
                    </div>
                    <div class="product-state">
                        <span class="product__price">150,000<span class="product__price-unit">تومان</span></span>
                        <a  href="/Product/Index/3" class="button mdi mdi-cart-plus icon1" ></a>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__layout">
                    <div class="product__photo-wrap">
                        <a href="/Product/Index/6" class="product-photo__link"> <img src="/Images/products/2786674.png" alt="گوشی سامسونگ s8" class="product-photo__img" /></a>
                    </div>
                    <div class="products__title-wrap">
                        <a href="/Product/Index/6" class="products__primary-title">سامسونگ A8</a><br />
                        <a href="/Product/Index/6" class="products__secondary-title">Samsung A8</a>
                    </div>
                    <div class="product-state">
                        <span class="product__price">20,000<span class="product__price-unit">تومان</span></span>
                        <a href="/Product/Index/6" class="button mdi mdi-cart-plus icon1"></a>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__layout">
                    <div class="product__photo-wrap">
                        <a href="/Product/Index/7" class="product-photo__link"> <img src="/Images/products/554.jpg" alt="گوشی سامسونگ s8" class="product-photo__img" /></a>
                    </div>
                    <div class="products__title-wrap">
                        <a href="/Product/Index/7" class="products__primary-title">چمدان مسافرتی بزرگ</a><br />
                        <a href="/Product/Index/7" class="products__secondary-title">handi carier bag</a>
                    </div>
                    <div class="product-state">
                        <span class="product__unavailabe">ناموجود</span>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__layout">
                    <div class="product__photo-wrap">
                        <a href="/Product/Index/9" class="product-photo__link"> <img src="/Images/products/44.jpg" alt="گوشی سامسونگ s8" class="product-photo__img" /></a>
                    </div>
                    <div class="products__title-wrap">
                        <a href="/Product/Index/7" class="products__primary-title">کرم دست </a><br />
                        <a href="/Product/Index/7" class="products__secondary-title">ice man cream</a>
                    </div>
                    <div class="product-state">
                        <span class="product__price">20,000<span class="product__price-unit">تومان</span></span>
                        <a href="/Product/Index/6" class="button mdi mdi-cart-plus icon1"></a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="product-list-content-actions">
            <div class="product-list-content__info">
                <select class="product-list-content-actions__select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
                <span class="product-list-content__total">220 کالا</span>
            </div>
            <div class="product-list-content-actions-pager">
                <a class="product-list-pager__button">1</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button product-list-pager__button--current">8</a>
                <a class="product-list-pager__button">9</a>
                <a class="product-list-pager__button">10</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button">15</a>
            </div>
        </div>
    </div>
</form>  